@use '../../config/styling' as *;

.Page {
    display: inline-block;
    // background: sandybrown;
    position: relative;
    text-align: left;
    h1 {
        font-weight: 900;
    }
    .divider {
        margin-bottom: 25px;
    }
    form {
        h3 {
            margin-top: 40px;
        }
        textarea {
            width: 100%;
            height: 300px;
        }
    }
}