@use '../../config/styling' as *;

.Page {
    display: inline-block;
    // background: sandybrown;
    position: relative;
    text-align: left;
    h1 {
        font-weight: 900;
    }
    .divider {
        margin-bottom: 25px;
    }
    .block {
        margin: 8px 0;
    }
    ul {
        padding-left: 50px;
    }
}