@use '../../config/styling' as *;

.Page {
    display: inline-block;
    // background: sandybrown;
    position: relative;
    text-align: left;
    h1 {
        font-weight: 900;
    }
    .divider {
        margin-bottom: 25px;
    }
    #codex-editor {
        margin-top: -20px;
        height: auto;
        // border: 1px solid black;
        .codex-editor__redactor {
            padding-bottom: 100px !important;
        }
    }
}